

.dark{
    background-color: #000;
    color: #fff;
    border-color: #fff;
    header{
        border-bottom: 5px #fff double;
    }
}

header{

    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 5px #000 double;

}
