

.dark{
    background-color: #000;
    color: #fff;
    border-color: #fff;
    header{
        border-bottom: 5px #fff double;
    }

    #switch{

        margin-right: 10px;
    border: #fff 2px solid;
    height:20px;
    width:40px;
    border-radius: 20px;
    padding:2px;   
    background-color: chartreuse;
    }
    header p{

        margin-left:20px;

    }

    #all-posts div{
        border: #fff 3px solid;

    }

    #all-posts h2{
        border-bottom: #fff 2px solid;
    }
    footer{
        border-top: #fff 5px double;


    }

    
}

header{

    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 5px #000 double;

}

#switch{

    margin-right: 10px;
    border: #000 2px solid;
    height:20px;
    width:40px;
    border-radius: 20px;
    padding:2px;    
}
#switch p{

    position: relative;
    bottom:15px;
}

#back-home{

 
    padding:5px;



}

#all-posts{

    display: flex;
    flex-direction: column;
    align-items: center;


}


#all-posts div{

    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */

    width:70%;

border: #000 3px solid;
margin-bottom: 20px;
margin-top:10px;
padding:20px;



}

#all-posts h2{

border-bottom: #000 2px solid;

}
#content{


    overflow-wrap: break-word;
    line-height: 60px;
}

#author{

    margin-top: 100px;
    font-size: 20px;
    font-style: italic;
}

#sun{
    transition: 1s;
}

#moon{
    transition:1s;
}

footer{

    margin-top: 100%;
    border-top: #000 5px double;
    padding:10px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
   
}
footer p{
    margin-top: 30px;
    font-size: 15px;
}
#contact-info{

    text-decoration: none;
    font-style: italic;
}




#contact-info:hover{


    text-decoration: none;
    background-color: aliceblue;
    padding:5px;
    border-radius: 20px;

}

footer p::before{
    content: "\25D1";
}






