

header{

    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 5px #000 double;

}

header p{

    margin-right: 10px;
    
}

#main-section{

display: flex;

}
#message-to-user{

border-right: 5px #000 double;

}
/* header text for user to see */
#message-to-user h2{

    background-color: antiquewhite;
    padding: 50px;
    border-radius: 100px;
    margin-top: 20%;
    margin-right: 300px;


}

/* This is used for all the input section */
#blog-form{
    margin-top: 20%;
    display: flex;
    margin-left: 100px;

}

input{
    display: block;
    /* margin 50px,50px; */
}

/* This id is for the textarea to write a post */
#msg{


}
/* This id is for the button */
#post{


}