

header{

    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 5px #000 double;

}

header p{

    margin-right: 10px;
    
}

#main-section{

display: flex;

}
#message-to-user{

    display: flex;
    align-items: center;
    justify-content: center;
border-right: 5px #000 double;
height: 670px;

}
/* header text for user to see */
#message-to-user h2{

    background-color: antiquewhite;
    padding: 50px;
    border-radius: 200px;
    /* margin-top: 20%; */
    margin-right: 200px;
    margin-left: 75px;
    text-align: center;
    height: 300px;
       width: 300px;
       font-size: 75px;


}




@media  screen and (max-width:1050px) {
    

    #main-section{
        flex-direction: column;
        /* justify-content: space-around; */
    }

    #message-to-user{
        display: flex;
        justify-content: center;
        border-right: none;
        border-bottom: 5px #000 double;

    }

    #message-to-user h2{

       height: 450px;
       width: 450px;
       text-align:center;
       font-size: 100px;
       margin-left: 150px;
       border-radius: 275px;
       padding:80px;
        
    }

   
}