
.dark{
    background-color: #000;
    color: #fff;
    border-color: #fff;
    header{
        border-bottom: 5px #fff double;
    }

    header div{

        margin-right: 10px;
    border: #fff 2px solid;
    height:20px;
    width:40px;
    border-radius: 20px;
    padding:2px;   
    background-color: chartreuse;
    }
    header p{

        margin-left:20px;

    }

    

    #message-to-user h2{
        background-color: darkgrey;
    }
    #post{

        background-color:darkgray
    }
}



header{

    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 5px #000 double;

}

header div{

    margin-right: 10px;
    border: #000 2px solid;
    height:20px;
    width:40px;
    border-radius: 20px;
    padding:2px;    
}
header p{

    position: relative;
    bottom:15px;
}

#main-section{

display: flex;

}
#message-to-user{

    display: flex;
    align-items: center;
    justify-content: center;
border-right: 5px #000 double;
height: 670px;

}
/* header text for user to see */
#message-to-user h2{

    background-color: antiquewhite;
    padding: 50px;
    border-radius: 200px;
    /* margin-top: 20%; */
    margin-right: 200px;
    margin-left: 75px;
    text-align: center;
    height: 300px;
       width: 300px;
       font-size: 75px;


}




@media  screen and (max-width:1050px) {
    

    #main-section{
        flex-direction: column;
        /* justify-content: space-around; */
    }

    #message-to-user{
        display: flex;
        justify-content: center;
        border-right: none;
        border-bottom: 5px #000 double;

    }

    #message-to-user h2{

       height: 450px;
       width: 450px;
       text-align:center;
       font-size: 100px;
       margin-left: 150px;
       border-radius: 275px;
       padding:80px;
        
    }

   
}